<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Customer | Supplier</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../../templates/css/commoncss.ejs%>
    <link rel="stylesheet" href="assets/css/custom_style.css" type="text/css">
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../../templates/top.ejs%>
    <!-- begin:: Content Head -->
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title">
                    <select class="form-control" id="pagetype" onchange="pagechange()" style="border: none !important; font-size: medium;">
                        <option value="customer">Customer</option>
                        <option value="supllier">Supplier</option>
                    </select>
                </h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <a onclick="fnaddnew()" class="btnaddnew btn btn-label-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
                    Add New
                </a>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">

                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-2">
        <div class="custentry">
            <%include ../../Master/cds/cds.ejs%>
        </div>
        <div class="custlist">
            <%include ../../Master/cds/list.ejs%>
        </div>
    </div>
    <!-- end:: Content -->
    <%include ../../templates/bottom.ejs%>
    <%include ../../templates/js/commonjs.ejs%>
    <script src="/pagescripts/keyrestrict.js"></script>
    <script src="/pagescripts/Master/custsub.js"></script>

</body>

</html>