<div class="kt-portlet">
    <div class="kt-portlet__body">

        <table class="table text-center table-sm table-striped- table-bordered table-hover table-checkable" id="gvlist">
            <thead>
                <tr>
                    <th>sno</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Opening Balance</th>
                    <th>Payment Terms</th>
                    <th>Customer Type</th>
                    <th>Company Name</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>