<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Customer Outstanding</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../templates/css/commoncss.ejs%>
    <link rel="stylesheet" href="assets/css/custom_style.css" type="text/css">
    <style>

    </style>
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../templates/top.ejs%>
    <!-- begin:: Content -->
   
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
        <!-- begin:: Content -->
        <h3>Customer Outstanding Report</h3><br>
        <div class="row">
            <div class="col-lg-3">
                <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right">
                    <input type="text" id="txtcustomer" class="form-control       dark-border"
                        placeholder="Customer Nmae">
                  
                            </span>
                </div>
            </div>
            <div class="col-lg-3">
                <button type="button" onclick="loadstock()"
                class="btn btn-primary btn-bold"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <!-- <button id='DLtoExcel' class="btn float-right mb-4 btn-danger">Export Data to Excel</button> -->
        <table class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
            id="gvsaleslist">
            <thead>
                <tr>
                    <!-- <th>sno</th> -->
                    <th>Customer Name</th>
                    <th>Mobile No</th>
                    <th>Pending Due Amount</th>
                </tr>
            </thead>
        </table>


        <!-- end:: Content -->
    </div>


    <!-- end:: Content -->
    <%include ../templates/bottom.ejs%>
    <%include ../templates/js/commonjs.ejs%>

    <script>
        $(document).ready(function () {

            loadstock();
           
            

        });

        function loadstock() {
            var data = [];
            data[0] = "name";
            data[1] = "mobile";
            data[2] = "pendingamount";

            var FilterParameter = {
                customer: $('#txtcustomer').val(),
                type: 'list',
            };
            binddatareportwithdata("#gvsaleslist", "/report/customeroutstandingreport", data, FilterParameter);
        }
    </script>
  
  



</body>

</html>