<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Purchase Summary Report</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../templates/css/commoncss.ejs%>
    <link rel="stylesheet" href="assets/css/custom_style.css" type="text/css">
    <style>

    </style>
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../templates/top.ejs%>
    <!-- begin:: Content -->

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
        <h3>Stock Summary Report</h3><br>
        <div class="row list">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <div class="kt-widget25 mt-0">

                    <div class="kt-widget25__items mt-0">



                        <div class="kt-widget25__item">
                            <i class="la la-rupee kt-widget25__number"></i> <span id="txttotal"
                                class="kt-widget25__number">0</span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 54%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Grand Total
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="kt_daterangepicker_6">
                    <input type="text" id="txtdaterange" class="form-control" readonly=""
                        placeholder="Select date range">
                </div>
            </div>
            <div class="col-md-3">

                <input type="text" id="txtproductname" class="form-control" placeholder="Enter productname">

            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" onclick="loadproductprocess()"><i class="fa fa-search"></i></button>

            </div>
            <div class="col-md-1">
                <button class="btn btn-success" onclick="loadpurchasesummarydownload()"><i
                        class="fa fa-download"></i></button>
            </div>


        </div>
        <!-- begin:: Content -->
        <!-- <button id='DLtoExcel' class="btn float-right mb-4 btn-danger">Export Data to Excel</button> -->
        <br>
        <table class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
            id="gvsaleslist">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Product Name</th>
                    <th>Purchase Price</th>
                    <th>Closing Stock</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody class="trbody">

            </tbody>
        </table>

        <!-- end:: Content -->
    </div>




    <!-- end:: Content -->
    <%include ../templates/bottom.ejs%>
    <%include ../templates/js/commonjs.ejs%>

    <script src="/pagescripts/datediff.js"></script>


    <script>
        $(document).ready(function () {
            var start = moment().startOf('month');
            var end = moment().endOf('month');
            $('#txtdaterange').val(start.format('DD-MM-YYYY') + ' / ' + end.format('DD-MM-YYYY'));
            loadproductprocess();

        });


        function loadproductprocess() {
            let daterange_from_to = $('#txtdaterange').val().split('/');

            var FilterParameter = {
                fdate: Converdate(moment(moment(daterange_from_to[0], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                tdate: Converdate(moment(moment(daterange_from_to[1], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                productname: $('#txtproductname').val()
            };


            $.ajax({
                "url": '/getstockprocessdetails',
                "type": "POST",
                "datatype": "json",
                "data": FilterParameter,
                success: function (data) {
                    $('.trbody').empty('');
                    let total = 0;
                    $.each(data, function (i, v) {
                        let row = '';
                        let sno = i + 1;
                        total = total + v.purchaseprice * v.Remainingqty;
                        row = `<tr><td>` + sno + `</td>
                        <td>`+ v.productname + `</td>
                        <td>`+ v.purchaseprice + `</td>
                        <td>`+ v.Remainingqty + `</td>
                        <td>`+ v.purchaseprice * v.Remainingqty + `</td>
                        </tr>`
                        $('.trbody').append(row);
                    })
                    $('#txttotal').html(total)
                    console.log(data)
                },
                error: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                },
                failure: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                }

            })


        }

        function loadpurchasesummarydownload() {
            let daterange_from_to = $('#txtdaterange').val().split('/');
            var FilterParameter = {
                fdate: Converdate(moment(moment(daterange_from_to[0], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                tdate: Converdate(moment(moment(daterange_from_to[1], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
            };
            $.ajax({
                "url": '/purchasesummarydownload',
                "type": "POST",
                "datatype": "json",
                "data": FilterParameter,
                success: function (data) {
                    setTimeout(function () {
                        var win = window.open('http://localhost:3000/appfiles/productpdf/' + data + '','Download', "myWindow", 'width=800,height=600');
                        //  var win = window.open('file:///E:/Boopathi Sakthi/Projects/AKMILL File/productpdf/productreport20200618080641.pdf','Download', "myWindow", 'width=800,height=600');

                    }, 3000)

                },
                error: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                },
                failure: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                }

            })

        }


    </script>

    <script src="assets/js/pages/crud/forms/widgets/bootstrap-daterangepicker.js" type="text/javascript"></script>

</body>

</html>