<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Purchase GST Report</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../templates/css/commoncss.ejs%>
    <link rel="stylesheet" href="assets/css/custom_style.css" type="text/css">
    <style>

    </style>
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../templates/top.ejs%>
    <!-- begin:: Content -->

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-section">
                    <div style="border: 1px solid #c2c1c1;"
                        class="kt-section__content kt-section__content--border kt-section__content--fit">
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h1 style="text-align: center;"
                                        class="kt-callout__title lblinvoiceno kt-font-dark kt-font-bold"><label
                                            style="font-size: 2.5rem;" id="lblpurchase_count"></label></h1>
                                    <h3 style="text-align: center;">No of Purchase</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h1 style="text-align: center;"
                                        class="kt-callout__title lblinvoiceno kt-font-dark kt-font-bold">
                                        <span><i class="la la-rupee" style="font-size: 2.5rem;"></i></span><label
                                            style="font-size: 2.5rem;" id="lbltotaltaxablevalue"></label></h1>
                                    <h3 style="text-align: center;" class="mt-0"> Total Taxable Value</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h1 style="text-align: center;"
                                        class="kt-callout__title lblinvoiceno kt-font-dark kt-font-bold"><span><i
                                                class="la la-rupee" style="font-size: 2.5rem;"></i></span><label
                                            style="font-size: 2.5rem;" id="lbltaxamount"></label></h1>
                                    <h3 style="text-align: center;"> Tax Amount</h3>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h1 style="text-align: center;"
                                        class="kt-callout__title lblinvoiceno kt-font-dark kt-font-bold"><span><i
                                                class="la la-rupee" style="font-size: 2.5rem;"></i></span><label
                                            style="font-size: 2.5rem;" id="lbltotalvalue"></label></h1>
                                    <h3 style="text-align: center;"> Total Value</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- begin:: Content -->
        <h2>Purchase GstReport</h2>
        <br>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select id="ddltype" onchange="Cal_days()" class="form-control">
                        <option value="Monthly">Monthly</option>
                        <option value="Quartely">Quartely</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select id="ddldays" onchange="bind_date()" class="form-control">
                    </select>

                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" id="txtfromdate" disabled="disabled" style="background-color: #fff;"
                        onblur="Cal_Duedate()" class="form-control kt_datepicker_1 dark-border"
                        placeholder="DD-MM-YYYY">

                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" disabled="disabled" style="background-color: #fff;" placeholder="DD-MM-YYYY"
                        id="txttodate" class="form-control dark-border kt_datepicker_1">
                </div>
            </div>
            <div class="col-md-2">
                <button id='DLtoExcel' onclick="purchasedownload()" class="btn float-right mb-4 btn-danger">Export Data
                    to Excel</button>
            </div>
        </div>


        <div class="table-responsive col-md-12">
            <table class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
                id="gvpurchasegstlist">
                <thead>
                    <tr>
                        <!-- <th>sno</th> -->
                        <th>Purchase NO </th>
                        <th>Purchase Date</th>
                        <th>Purchase Value</th>
                        <th>Supplier </th>
                        <th>GST No </th>
                        <th>Taxable Value</th>
                        <th>Item Total</th>
                        <th>Name</th>
                        <th>IGST</th>
                        <th>SGST</th>
                        <th>CGST</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
        <div class="table-responsive col-md-12">
            <table class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
                id="gvpurchasegstzerolist">
                <thead>
                    <tr>
                        <!-- <th>sno</th> -->
                        <th>Purchase NO </th>
                        <th>Purchase Date</th>
                        <th>Purchase Value</th>
                        <th>Supplier </th>
                        <th>GST No </th>
                        <th>Taxable Value</th>
                        <th>Item Total</th>
                        <th>Name</th>
                        <th>IGST</th>
                        <th>SGST</th>
                        <th>CGST</th>
                    </tr>
                </thead>
            </table>
        </div>
        
    



        <!-- end:: Content -->
    </div>


    <!-- end:: Content -->
    <%include ../templates/bottom.ejs%>
    <%include ../templates/js/commonjs.ejs%>


    <script src="/pagescripts/Gstreport/purchasegstreport.js"></script>

    <script src="/pagescripts/exceldownload.js"></script>




</body>

</html>