<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Sales Report</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../templates/css/commoncss.ejs%>
    <link rel="stylesheet" href="assets/css/custom_style.css" type="text/css">
    <style>

    </style>
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../templates/top.ejs%>
    <!-- begin:: Content -->
    <!-- <div class="kt-subheader-search ">
            <div class="kt-container  kt-container--fluid ">
                <h3 class="kt-subheader-search__title">
                    Sales Report
                    <span class="kt-subheader-search__desc">Get all Due and over due records with date filter</span>
                </h3>
                <form class="kt-form">
                    <div class="kt-grid kt-grid--desktop kt-grid--ver-desktop">
                        <div class="kt-grid__item kt-grid__item--middle">
                            <div class="row kt-margin-r-10">
                                <div class="col-lg-6">
                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right">
                                        <select name="" id="ddlstatus" class="form-control form-control-pill">
                                        <option value="All">All</option>
                                        <option value="Ondue">Ondue</option>
                                        <option value="Overdue">Overdue</option>
                                        <option value="Completed">Completed</option>
                                    </select>
                                        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                                class="la la-puzzle-piece"></i></span></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right">
                                        <input type="text" id="txtfdate" class="form-control form-control-pill kt_datepicker_1 dark-border" placeholder="From">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                                class="la la-calendar-check-o"></i></span></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right">
                                        <input type="text" id="txttdate" class="form-control form-control-pill kt_datepicker_1 dark-border" placeholder="To">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                                class="la la-calendar-check-o"></i></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-grid__item kt-grid__item--middle">
                            <div class="kt-margin-top-20 kt--visible-tablet-and-mobile"></div>
                            <button type="button" onclick="loadsales()" class="btn btn-pill btn-upper btn-bold btn-font-sm kt-subheader-search__submit-btn">Search
                            </button>
                            <a href="#" class="kt-subheader-search__link kt-link">Advance Search</a>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
        <h3>Sales Report</h3><br>
        <div class="row list">
            <div class="col-md-12">
                <div class="kt-widget25 mt-0">

                    <div class="kt-widget25__items mt-0">

                        <div class="kt-widget25__item">
                            <i class="la la-rupee kt-widget25__number"></i> <span id="txtrice"
                                class="kt-widget25__number">0</span>
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 63%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Rice
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <i class="la la-rupee kt-widget25__number"></i><span id="txtkarka"
                                class="kt-widget25__number">0</span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 39%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Karka
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <i class="la la-rupee kt-widget25__number"></i> <span id="txttotal"
                                class="kt-widget25__number">0</span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-primary" role="progressbar" style="width: 54%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Grand Total
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row list">
            <div class="col-md-8">
                <div class="kt-widget25 mt-0">

                    <div class="kt-widget25__items mt-0">


                        <div class="kt-widget25__item">
                            <i class="la la-rupee kt-widget25__number"></i> <span id="txtsalesreturn"
                                class="kt-widget25__number">0</span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 54%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Sales Return
                            </span>
                        </div>
                        <div class="kt-widget25__item" style="margin-left: 15px;">
                            <i class="la la-rupee kt-widget25__number"></i> <span id="txttotalpending"
                                class="kt-widget25__number">0</span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-primary" role="progressbar" style="width: 54%;"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Credit Sales
                            </span>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="kt_daterangepicker_6">
                    <input type="text" id="txtdaterange" class="form-control" readonly=""
                        placeholder="Select date range">
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" onclick="loadsales()"><i class="fa fa-search"></i></button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" onclick="showpending()">Show Pending Details</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" onclick="showsalesretun()">Show Sales Return</button>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <div class="row list">
                    <div class="col-md-12">
                        <div class="kt-widget25 mt-0">


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- begin:: Content -->
        <!-- <button id='DLtoExcel' class="btn float-right mb-4 btn-danger">Export Data to Excel</button> -->
        <table class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
            id="gvsaleslist">
            <thead>
                <tr>
                    <!-- <th>sno</th> -->
                    <th>Invoice No </th>
                    <th>Invoice Date</th>
                    <th>Customername </th>
                    <th>invoiceDetail</th>
                    <th>Total</th>


                </tr>
            </thead>
        </table>

        <!-- end:: Content -->
    </div>
    <div class="modal fade" id="customerpendingmadal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Customer Pending List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <!--begin::Form-->
                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__content">
                                <form class="kt-form kt-form--label-right" id="formcustsub">
                                    <div class="row">
                                        <table
                                            class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
                                            id="gvsalespendinglist">
                                            <thead>
                                                <tr>
                                                    <th>Sno</th>
                                                    <th>Customer Name </th>
                                                    <th>Invoice No </th>
                                                    <th>Invoice Date </th>
                                                    <th>Total </th>
                                                    <th>Pending Amt </th>
                                                </tr>
                                            </thead>
                                            <tbody class="trbody">

                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="float-right">

                                                        <button type="button" onclick="closemodal()"
                                                            class="btn btn-secondary">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="salesreturnmadal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sales Return List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <!--begin::Form-->
                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__content">
                                <form class="kt-form kt-form--label-right" id="formcustsub">
                                    <div class="row">
                                        <table
                                            class="table text-center table-sm table-striped- table-bordered table-hover table-checkable"
                                            id="gvsalesreturnlist">
                                            <thead>
                                                <tr>
                                                    <th>Sno</th>
                                                    <th>Customer Name </th>
                                                    <th>InvoiceReturn No </th>
                                                    <th>InvoiceReturn Date </th>
                                                    <th>Return Detail </th>
                                                    <th>Total </th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody class="trbody">

                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="float-right">

                                                        <button type="button" onclick="closesalesretunmodal()"
                                                            class="btn btn-secondary">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>



    <!-- end:: Content -->
    <%include ../templates/bottom.ejs%>
    <%include ../templates/js/commonjs.ejs%>




    <script>
        $(document).ready(function () {
            var start = moment().startOf('month');
            var end = moment().endOf('month');
            $('#txtdaterange').val(start.format('DD-MM-YYYY') + ' / ' + end.format('DD-MM-YYYY'));
            loadsales();
        });
        function loadsales() {
            var data = [];
            data[0] = "invoiceno";
            data[1] = "invoicedate";
            data[2] = "customername";
            data[3] = "invoiceDetail";
            data[4] = "total";

            let daterange_from_to = $('#txtdaterange').val().split('/');
            var FilterParameter = {
                fdate: Converdate(moment(moment(daterange_from_to[0], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                tdate: Converdate(moment(moment(daterange_from_to[1], 'DD-MM-YYYY')).format("DD-MM-YYYY")),

            };

            binddatareportwithview1("#gvsaleslist", "/sales/salesreport", data, FilterParameter)
            getamount()
            salesreturnlist()

        }
        function binddatareportwithview1(tablename, uri, data, FilterParameter) {

            var datacount = data.length;
            for (i = 0; i < datacount; i++) {
                data[i] = eval({ "data": data[i], "name": data[i], "autoWidth": true });
            }

            $(tablename).dataTable().fnDestroy();
            $(tablename).DataTable({
                "ajax": {
                    "url": uri,
                    "type": "POST",
                    "datatype": "json",
                    "data": FilterParameter
                },
                "columns": data,
                columnDefs: [
                    {
                        targets: -2,
                        render: function (data) {

                            let invoicedtails = ''
                            $.each(data, function (i, v) {

                                invoicedtails = invoicedtails + `<label>` + v.productname + `</label>: <label>` + v.qty + ` Bag</label><br>`

                            })
                            return invoicedtails;

                        }
                    }

                ],
                // "serverSide": "true",
                "order": [1, "desc"],
                "dom": '<"top">rt<"bottom"<"row"<"col-md-2"l><"col-md-3"i><"col-md-4"p>>><"clear">',
                "processing": "true",
                "language": {
                    "processing": "processing ... please wait"
                }
            });
            oTable = $(tablename).DataTable();

        }
        function getamount() {
            let daterange_from_to = $('#txtdaterange').val().split('/');
            var FilterParameter = {
                fdate: Converdate(moment(moment(daterange_from_to[0], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                tdate: Converdate(moment(moment(daterange_from_to[1], 'DD-MM-YYYY')).format("DD-MM-YYYY")),

            };
            $.ajax({
                "url": '/getcategorywise',
                "type": "POST",
                "datatype": "json",
                "data": FilterParameter,
                success: function (data) {
                    if (data.length !== 0) {
                        $('#txtrice').text(0);
                        $('#txtkarka').text(0);
                        $('#txttotal').text(0);
                        let total = 0;
                        $.each(data, function (i, v) {
                            if (v.categoryid == '5e3beae63e841a2db8a00467') {
                                $('#txtrice').text(parseFloat(v.amount).toFixed(2));
                                total = total + v.amount;
                            }
                            else {
                                $('#txtkarka').text(parseFloat(v.amount).toFixed(2));
                                total = total + v.amount;
                            }
                        })
                        $('#txttotal').text(parseFloat(total).toFixed(2));
                        getdueamount()
                        
                    }
                    else {
                        $('#txtrice').text(0);
                        $('#txtkarka').text(0);
                        $('#txttotal').text(0);
                        getdueamount()
                       
                    }

                },
                error: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                },
                failure: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                }
            })
        }
        function getdueamount() {
            let daterange_from_to = $('#txtdaterange').val().split('/');
            var FilterParameter = {
                fdate: Converdate(moment(moment(daterange_from_to[0], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                tdate: Converdate(moment(moment(daterange_from_to[1], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
            };
            $.ajax({
                "url": '/dueamountcustomers',
                "type": "POST",
                "datatype": "json",
                "data": FilterParameter,
                success: function (data) {
                    console.log(data.data.length)
                    if (data.data.length !== 0) {
                        $('#gvsalespendinglist .trbody').empty('');
                        let totalpending = 0;
                        $.each(data.data, function (i, v) {
                            totalpending = totalpending + v.dueamount;
                            let row = '';
                            let sno = i + 1;
                            row = `<tr>
                         <td>` + sno + `</td>
                        <td>`+ v.customername + `</td>
                        <td>`+ v.invoiceno + `</td>
                        <td>`+ v.invoicedate + `</td>
                        <td>`+ v.total + `</td>
                        <td>`+ v.dueamount + `</td>
                        </tr>`
                            $('#gvsalespendinglist .trbody').append(row);
                        })
                        $('#txttotalpending').text(parseFloat(totalpending).toFixed(2));
                       

                    }
                    else {

                        $('#gvsalespendinglist .trbody').empty('');
                        $('#txttotalpending').text('0');
                      

                    }

                },
                error: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                },
                failure: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                }
            })
        }
        function showpending() {
            $('#customerpendingmadal').modal('show')
        }
        function closemodal() {
            $('#customerpendingmadal').modal('hide')
        }
       function salesreturnlist() {
            let daterange_from_to = $('#txtdaterange').val().split('/');
            var FilterParameter = {
                fdate: Converdate(moment(moment(daterange_from_to[0], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
                tdate: Converdate(moment(moment(daterange_from_to[1], 'DD-MM-YYYY')).format("DD-MM-YYYY")),
            };
            $.ajax({
                "url": '/getsalesreturn',
                "type": "POST",
                "datatype": "json",
                "data": FilterParameter,
                success: function (data) {
                    console.log(data.data.length)
                    if (data.data.length !== 0) {
                        $('#gvsalesreturnlist .trbody').empty('');
                        let totalsalesreturn = 0;
                        $.each(data.data, function (i, v) {
                            totalsalesreturn = totalsalesreturn + v.total;
                            let row = '';
                            let sno = i + 1;
                            let invoicereturndetail = '';
                            $.each(v.invoiceDetail, function (j, z) {
                                invoicereturndetail = invoicereturndetail + `<label>` + z.productname + `</label>: <label>` + z.qty + ` Bag</label><br>`
                            })
                            row = `<tr>
                         <td>` + sno + `</td>
                        <td>`+ v.customername + `</td>
                        <td>`+ v.invoiceno + `</td>
                        <td>`+ v.invoicedate + `</td>
                      <td>`+ invoicereturndetail + `</td>
                        <td>`+ v.total + `</td>
                       
                        </tr>`
                            $('#gvsalesreturnlist .trbody').append(row);
                        })
                        $('#txtsalesreturn').text(parseFloat(totalsalesreturn).toFixed(2))


                    }
                    else {



                    }

                },
                error: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                },
                failure: function (response) {
                    var parsed = JSON.parse(response.responseText);
                    Error_Msg(parsed.Message);
                    d.resolve();
                }
            })

        }
        function showsalesretun() {
            $('#salesreturnmadal').modal('show')
        }
        function closesalesretunmodal() {
            $('#salesreturnmadal').modal('hide')
        }
    </script>

    <script src="assets/js/pages/crud/forms/widgets/bootstrap-daterangepicker.js" type="text/javascript"></script>

</body>

</html>