<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Bank</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../../templates/css/commoncss.ejs%>
    <link rel="stylesheet" href="assets/css/custom_style.css" type="text/css">  
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../../templates/top.ejs%>   
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">

        <%include ../../Master/bank/bank.ejs%>  
      
    </div>
    <!-- end:: Content -->
    <%include ../../templates/bottom.ejs%>
    <%include ../../templates/js/commonjs.ejs%>
    <script src="/pagescripts/Master/bank.js"></script>
    <script src="/pagescripts/keyrestrict.js"></script>
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
        $(function () {
             $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    
</body>

</html>