<!DOCTYPE html>
<html lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zerobugz | Company</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%include ../templates/css/commoncss.ejs%>
</head>

<body
    class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <%include ../templates/top.ejs%>   
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">

        <%include ../company/company.ejs%>   
    </div>
    <!-- end:: Content -->
    <%include ../templates/bottom.ejs%>
    <%include ../templates/js/commonjs.ejs%>
    <script src="/pagescripts/Master/company.js"></script>
    <script src="/pagescripts/Master.js"></script>
</body>

</html>